@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    margin: 0;
    border: 0;
    padding: 0;
}

ul#nav {
    background: #f00;
    color: #fff;
}

ul#nav li.navitem {
    padding: 1em;
    list-style-type: none;
    display: inline-block;
}

a, a:link, a:visited {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #ccc;
}

a:active {
    color: transparent;
    text-shadow: 1px 1px 0 #ccc;
}

div#map {
    height: 75vh;
}

form {
    background: #ccc;
    border-radius: 0.25em;
    box-shadow: 0.25em 0.25em 0.15em #666;
}

h1, p, form, form input {
    margin: 1em;
}

form input[type=Submit] {
    padding: 0.25em;
    background: #999;
    border-radius: 0.15em;
}

form input[type=Submit]:hover {
    background: #666;
}

form input[type=Submit]:active {
    color: transparent;
    text-shadow: 1px 1px 0 #000;
}

/* Remove blue border from tab select. */
:focus {
    outline: 0;
}

/* Customize text highlight color. */
::selection {
    background: #933;
    color: #fcc;
}